*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background-image: url(../img/pexels-vyacheslav-bobin-9906385.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.wrapper{
    width:500px;
    margin: 100px auto;
    background-color: rgba(240,248,255,0.6);
    padding: 20px;
    text-align: center;
}

#input-box{
    width:100%;
    background-color: rgba(225, 255, 255, 0.6);
    border: 0;
    outline: none;
    color:#582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 0 10px;
    text-align: center;
}
.searchBox{
    display: flex;
    justify-content:space-between;
}

#input-box:focus{
    background-color: rgba(225, 255, 255);
}

.weather-box{
    display: none;
   color:#582233;
   padding: 20px;
   line-height: 2rem;
   border-radius: 10px;
   background-color: rgba(225, 255, 255, 0.6);
   margin-top: 20px;
}

#searchButton{
    width: 18%;
    background-color: rgba(225, 255, 255, 0.6);
    border: 0;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    margin-left:10px ;
   
}

#searchButton:hover{
    background-color: rgba(225, 255, 255);
}


.location{
    font-weight: bold;
}

.current-weather{
    padding: 20px;
}

.temp{
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}

.min-max, #weather{
    font-size: 12pt;
    font-weight: 700;
}